*{
    font-family: 'Georgia', serif;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
}

.content h1 {
    font-family: "Averia Serif Libre", serif;
    color: #059862;
    text-align: center;
}

.content h2 {
    font-family: "Averia Serif Libre", serif;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


button {
    background-color: #18A558;
    color: rgb(255, 255, 255);
    border: none;
    width: 250px;
    height: 150px;
    padding: 10px; 
    margin: 10px;
    font-size: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px black;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
   
}

button:hover {
    background-color: #88c999;
    transform: translateY(-10px);
}

.course-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E4E7EB; 
    border-radius: 10px; 
    height: 90vh;
    align-items: flex-start;
    padding-top: 20px;
}
.course-container a {
    text-decoration: none;
}

