body {
    font-family: 'Georgia';
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.calendar-container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#miniCalendarContainer {
    width: 300px;
    margin-right: 20px;
}

#miniCalendar {
    margin-top: 10px;
}

#calendar {
    flex: 1;
}

.fc-toolbar-title {
    color: #333;
}

.fc-timegrid-axis-cushion {
    background-color: #f0f0f0;
}

.blue-label {
    background-color: #007bff;
    color: white;
    padding: 5px;
    display: none;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
}

#createEventButton {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

#createEventForm {
    display: none;
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.centered-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.centered-form input, .centered-form textarea, #createEventForm input, #createEventForm textarea {
    width: 100%;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.fc-daygrid-day:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.1);
}

.event-button {
    background-color: #1150e3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.event-button:hover {
    background-color: #1b54a2;
}


.cancel-button {
    background-color: #f00c0c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #b63240; 
}

.back-button {
    background-color: #f00c0c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.back-button:hover {
    background-color: #b63240;
}


