*{
    font-family: 'Georgia';
}
.dashboard-header {
    background-color: #18A558;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: -30px;
}

.dashboard-header h2 {
    font-size: 28px;
}

.dashboard-header p {
    font-size: 20px;
}

.dashboard-card h5 {
    margin-bottom: 10px; 
    font-size: 20px;
}

.dashboard-card p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.dashboard-card img {
    width: 60px; 
    height: 60px; 
    margin-bottom: 5px; 
}

.dashboard-card {
    padding: 30px; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dashboard-card:hover {
    background-color: #7aa5d9;
    transform: translateY(-10px);
}

.card-container {
    margin-top: 50px;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


a:hover {
    color: black;
}
