body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    margin: 0;
    padding: 0;
    min-height: 80vh; 
    background-color: #ffffff;
}
.header {
    background-color: #0F67B1;
    width: 99%; 
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Averia Serif Libre", serif;
    color: white;
    margin: 0;
}
.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    text-align: center; 
}
.content h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
button {
    background-color: #7aa5d9;
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgb(82, 80, 80);
    padding: 15px 50px; 
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 200px;
}
button:hover {
    background-color: #0F67B1;
    transform: translateY(-10px);
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.content div a {
    text-decoration: none;
}
.back-button {
    all: unset;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #f00c0c;
    color: white;
    box-shadow: 10px 10px 5px rgb(163, 160, 160);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.back-button:hover {
    background-color: #b63240;
}