body {
    font-family: 'Times New Roman', serif;
    background-color: #ffff;
}

h1 {
    text-align: center;
    color: #0F67B1;
    
}

.info .label {
    margin-left: 15px;
   font-size: 20px;
   font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;

}

.table th {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #7aa5d9;
    color: white;

}

.table td {
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #7aa5d9;
    color: rgb(0, 0, 0);

}

.table th {
    background-color: #0F67B1;
}

.picture-box {
    width: 100px;
    height: 100px;
    background-color: #000000ad;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.teacher-list h1{
    margin-top: 30px; 
    text-align: center;
    color: #0F67B1;
    
}