*{
    font-family: 'Georgia';
}

.header {
    background-color: #059862;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: "Averia Serif Libre", serif;
    color: rgb(255, 255, 255);
    margin: 0;
}


h2 {
    font-family: "Averia Serif Libre", serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.bsit-course-student-list {
    width: 95%;
    margin: 60px auto 60px;
    border-collapse: collapse;
    border: 2px solid #000000; 
}

.bsit-course-student-list th, .bsit-course-student-list td {
    padding: 12px 15px;
    text-align: left;
    font-size: 20px;
    border: 1px solid #000000; 
}

.bsit-course-student-list th {
    background-color: #609966;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #000000; 
}

.bsit-course-student-list td:first-child {
    border-right: 2px solid #000000; 
}

.bsit-course-student-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bsit-course-student-list tr:hover {
    background-color: #999ea4;
}

.bsit-course-student-list button {
    background-color: #04aa6d;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.bsit-course-student-list button:hover {
    background-color: #88c999;
}
.back-button {
    all: unset;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #f00c0c;
    color: white;
    box-shadow: 10px 10px 5px rgb(163, 160, 160);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.back-button:hover {
    background-color: #b63240;
}