*{
    font-family: 'Georgia', serif;
}
.content h1 {
    font-family: "Averia Serif Libre", serif;
    color: #0F67B1;
    text-align: center;
    margin-bottom: 20px;
}

.content h2 {
    font-family: "Averia Serif Libre", serif;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}


.bsit-course-student-list {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #000000; 
}

.bsit-course-student-list th, .bsit-course-student-list td {
    padding: 12px 15px;
    text-align: left;
    font-size: 20px;
    border: 1px solid #000000; 
}

.bsit-course-student-list th {
    background-color: #7aa5d9;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #000000; 
}

.bsit-course-student-list td:first-child {
    border-right: 2px solid #000000; 
}

.bsit-course-student-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bsit-course-student-list tr:hover {
    background-color: #999ea4;
}


.bsit-course-student-list button {
    background-color: #0F67B1;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.bsit-course-student-list button:hover {
    background-color: #7aa5d9
    ;
}
