body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8dc099;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    background-color: #8dc099;
    color: white;
    height: 100vh;
    padding: 80px 10px;
    box-sizing: border-box;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f6f6de;
}

.content h1 {
    color: #688e4e;
}







.appointment-form {
    margin-top: 20px;
}
.appointment-form form {
    display: flex;
    flex-direction: column;
}
.appointment-form label {
    margin-bottom: 5px;
}
.appointment-form input,
.appointment-form select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}
.appointment-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #00ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.appointment-form button:hover {
    background-color: #00cccc;
}



    body {
        background-color: #f8f9fa;
    }
    .container h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #343a40;
    }
    .department-head {
        background-color: #e9ecef;
        padding: 20px;
        border-radius: 8px;
    }
    .faculty-member {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .faculty-member .picture {
        width: 100%;
        height: 150px;
        background-color: #dee2e6;
        border-radius: 8px;
    }
    .btn-primary {
        font-size: 1rem;
        transition: all 0.3s ease;
    }
    .btn-primary:hover {
        background-color: #007bff;
        color: #fff;
    }
