
h1 {
    font-family: "Averia Serif Libre", serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    
}

h2 {
    font-family: "Averia Serif Libre", serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #0F67B1;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.section {
    text-align: center;
    width: 150px;
}

.section h2 {
    margin-bottom: 10px;
}

.section div {
    margin: 10px 0;
}

button {
    background-color: #7aa5d9;
    color: black;
    padding: 15px 30px; 
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s ease;
    margin: 20px 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0F67B1;
    transform: translateY(-10px);
}