body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header styles */
h1 {
    font-family: "Averia Serif Libre", serif;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #0F67B1;
}

/* Main container styles */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/* Button styles */
button {
    background-color: #7aa5d9;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0F67B1;
}
