body {
    font-family: 'Times New Roman', serif;
    background-color: #fff7cc; /* Light yellow background color */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Make the container 80% width */
    margin: 0 auto; /* Center the container */
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    font-style: italic;
}

.content {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.sidebar {
    width: 250px; /* Increased the width */
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar .picture-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.sidebar img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.sidebar .info {
    text-align: center;
    margin-top: 10px;
}

.sidebar .info p {
    margin: 5px 0;
    color: #333;
}

.main {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    box-sizing: border-box;
}

.main .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #007C91;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.main .details .detail-item {
    flex: 1;
    text-align: center;
}

.main .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main .tabs a {
    background-color: #1FC2BB;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
