.appointment-form {
    margin-top: 20px;
}
.appointment-form form {
    display: flex;
    flex-direction: column;
}
.appointment-form label {
    margin-bottom: 5px;
}
.appointment-form input,
.appointment-form select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}
.appointment-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #2D9939;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.appointment-form button:hover {
    background-color: #9DB8A0;
}

