.hsfaculty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 2rem;
    font-weight: bold;
}

.hsfaculty-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.hsfaculty-picture img.faculty-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hsfaculty-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    justify-items: center;
}

.hsfaculty-member,
.hsfaculty-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsfaculty-picture {
    width: 150px;
    height: 150px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin-bottom: 15px;
}

.hsfaculty-member p,
.hsfaculty-head p {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-evaluate {
    background-color: #0F67B1;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
}

.btn-evaluate:hover {
    background-color: #7aa5d9;
}
