body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    background-color: #7aa5d9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Times New Roman', serif;
    font-style: bold;
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin: 0;
   
}

.student-profile {
    width: 70%;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 10px 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.student-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.student-photo {
    margin-bottom: 20px;
}

.student-photo img {
    width: 150px;
    height: 150px;
   
}

.student-details {
    text-align: center;
}

.student-details h2 {
    margin-top: 0;
}

.details p {
    margin: 5px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.tabs a {
    background-color:  #7aa5d9;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tabs a:hover {
    background-color: #17a2a8;
    color: white;
}

.tabs a:active {
    background-color: #159497;
    color: white;
}
/* College background */
.college-bg {
    background-image: url('/css/GeneralResources/bg.jpeg'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
}

/* High School background */
.highschool-bg {
    background-image: url('/css/GeneralResources/Highschool.jpg'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
}
