 h1 {
    font-family: "Averia Serif Libre", serif;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 40px; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box-header {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.box-header h2 {
    font-family: "Averia Serif Libre", serif;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.box-content {
    padding: 10px;
}

.actions button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}


table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}