body {
    display: flex;
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
}

.content h1 {
    color: #0F67B1;
    text-align: center;
}

.content h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;   
}


button {
    background-color: #7aa5d9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    min-width: 200px;
}

button:hover {
    background-color: #0F67B1;
    transform: translateY(-10px);
}


.content > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Increased gap between buttons and headings */
}

.content div a {
    text-decoration: none;
}

/* Student List Specific Styles */
.student-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.student-list-container button {
    width: 100%;
}
.year-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.year-block {
    margin-bottom: 20px;
    text-align: center;
}

.year-block h2 {
    margin-bottom: 10px;
}

.year-block a {
    display: block;
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 16px;
}
