* {
    font-family: 'Georgia';
}

.header {
    background-color: #0F67B1;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: "Averia Serif Libre", serif;
    color: rgb(255, 255, 255);
    margin: 0;
}

h2 {
    font-family: "Averia Serif Libre", serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.ctstudentlist {
    width: 95%;
    margin: 60px auto 60px;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.ctstudentlist th, .ctstudentlist td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #000000; 
    font-size: 20px;
}

.ctstudentlist th {
    background-color: #7aa5d9;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #000000;
}

.ctstudentlist td:first-child {
    border-right: 1px solid #000000; 
}

.ctstudentlist tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ctstudentlist tr:hover {
    background-color: #999ea4;
}

.ctstudentlist button {
    background-color: #0F67B1;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ctstudentlist button:hover {
    background-color: #7aa5d9;
}
